* {
    /* border: red solid 2px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --accent-color: #ff004f;
    --background-color: #262626;
    --title-size: 72px;
    --border-radius: 20px;
    --title-mobile: 52px;
    --bottom-margin: 50px;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

/* ----------Nav Design---------- */

#home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.home-logo {
    font-size: 34px;
}

.nav-titles {
    display: flex;
    gap: 20px;
}

.nav-buttons {
    display: none;
}

#nav-titles li a {
    position: relative;
}

#nav-titles li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background-color: var(--accent-color);
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

#nav-titles li a:hover::after {
    width: 100%;
}

/* ----------Header Design---------- */

header {
    background-image: url('/assets/parallax-bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header p {
    font-size: 200px;
}

/* ----------About Design---------- */

#about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    height: 100vh;
}

.about-title {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    font-size: var(--title-size);
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about-img img {
    height: 80%;
    border-radius: var(--border-radius);
}

.about-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-box {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    width: 90%;
    height: 80%;
}

.about-names {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    padding: 5px;
}

.about-name {
    font-size: 72px;
}

.about-description {
    font-size: 24px;
}

.about-motto {
    text-align: end;
    font-size: 32px;
}

.about-details {
    display: none;
}

/* ----------about-javascript-effect---------- */

.name-link {
    position: relative;
}

.name-link::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background-color: var(--accent-color);
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.name-link.active-link::after {
    width: 100%;
}

.about-details {
    padding: 0 30px;
    display: none;
}

.about-details.active-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ----------Highlights Design---------- */

#highlights {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlights-title {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlights-title p {
    font-size: var(--title-size);
}

.highlights-container {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.highlights-details {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 24px;
}

/* ----------Tools Design---------- */
#tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.tools-title {
    font-size: var(--title-size);
}

.tools-container {
    display: flex;
    gap: 50px;
}

.tools-logo {
    width: 100px;
}

#wipo-logo {
    width: 130px;
}

/* ----------Contact-Us Design---------- */

#contact-us {
    display: flex;
    height: 97vh;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#contact-us p,
.contact-title,
.form-title     {
    font-size: var(--title-size);
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.form-fields,
.form-text {
    width: 600px;
    border-radius: 10px;
    background-color: var(--background-color);
}

.form-fields {
    height: 40px;
}

.form-text {
    height: 200px;
}

.submit-button {
    background-color: var(--accent-color);
    color: white;
    border-radius: 10px;
    font-size: 1.5em;
    width: 180px;
    height: 50px;
}

.submit-button:hover {
    cursor: pointer;
}


.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.email-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.contact-emails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}

.contact-emails img {
    width: 50px;
}

/* ----------Footer Design---------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    height: 2rem;
}

@media (max-width: 768px) {

    #home {
        justify-content: space-between;
        padding: 10px 20px;
    }

    .nav-titles {
        display: none;
    }

    #menu-button {
        display: block;
        width: 50px;
    }

    header {
        background-image: url(/assets/parallax-bg-mobile.jpg);
        background-position: center bottom;
    }

    header p {
        font-size: var(--title-mobile);
    }

    #about {
        grid-template-columns: 1fr;
        margin-bottom: var(--bottom-margin);
    }

    .about-title {
        font-size: var(--title-mobile);
        grid-column: 1 / 2;
    }

    .about-img img {
        width: 80%;
    }

    .about-container {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .about-box {
        width: 90%;
        flex-grow: 1;
        padding-bottom: 10px;
    }

    .about-names {
        font-size: 12px;
    }

    .about-name {
        font-size: 32px;
    }

    .about-description {
        font-size: 18px;
    }

    .about-motto {
        font-size: 24px;
    }

    #highlights {
        height: auto;
        margin-bottom: var(--bottom-margin);
    }

    .highlights-title {
        margin-bottom: var(--bottom-margin);
    }

    .highlights-title p {
        font-size: var(--title-mobile);
    }

    .highlights-container {
        flex-direction: column;
        gap: 30px;
    }

    .highlights-details {
        height: 300px;
        width: 80%;
        font-size: 13px;
    }

    #tools {
        margin-bottom: var(--bottom-margin);
    }

    .tools-title {
        font-size: var(--title-mobile);
        text-align: center;
    }

    .tools-container {
        gap: 30px;
    }

    .tools-logo {
        width: 50px;
    }

    #wipo-logo {
        width: 75px;
    }

    #contact-us {
        height: auto;
        flex-direction: column;
        gap: 30px;
        margin-bottom: var(--bottom-margin);
    }

    #contact-us p,
    .contact-title,
    .form-title     {
        font-size: var(--title-mobile);
        text-align: center;
    }

    .contact-container {
        width: 100%;
    }

    .contact-emails img {
        width: 20px;
    }

    .contact-emails {
        font-size: 10px;
        gap: 2px;
    }

    .form-fields,
    .form-text {
        width: 300px;
    }


}